* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

@font-face {
  font-family: 'Cherolina';
  src: url(/src/fonts/Cherolina.ttf);
}

.nome-casal {
  font-family: 'Cherolina';
  font-size: 4rem;
  font-weight: 200;
}

.container {
  margin: 10vh auto;
  text-align: center;
  max-width: 600px;
}

.div-dias {
  display: grid;
}

.num-dias {
  font-family: 'Montserrat';
  font-size: 2rem;
  font-weight: 300;
}

.txt-dias {
  font-family: 'cherolina';
  font-size: 3rem;
  margin: -1rem 0 1rem 0;
}

.img-rounded {
  width: 6rem;
  height: 6rem;
  border: 3px solid #ed1b24;
  border-radius: 50%;
  padding: 0.2rem;
}

.foto-coracao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 7rem;
}

.coracao {
  width: 2rem;
}

.dias-namoro {
  display: grid;
  margin-top: -2rem;
}

.texto {
  font-family: 'Montserrat';
  margin: 0 2rem;
}

.texto span {
  color: #ed1b24;
  font-weight: 500;
  opacity: 0.9;
  /* border-bottom: 1px solid red; */
}

@media (max-width: 560px) {
  .foto-coracao {
    margin: 3rem 6rem;
  }
}

@media (max-width: 460px) {
  HTML {
    font-size: 14px;
  }
  .foto-coracao {
    margin: 2.5rem 5rem;
  }
}

@media (max-width: 320px) {
  HTML {
    font-size: 12px;
  }
}
